* {
    font-family: "JetbrainsMono Nerd Font";
	font-size: 13px;
	min-height: 25px;
    border: none;
    border-radius: 10px;
}

window#waybar {
    background: rgba(11, 11, 18, 0.6);
    border-bottom: 2px solid rgba(255, 79, 216, 0.6);
}

#workspaces {
    transition: all 2050ms ease-in-out;
}

#workspaces button {
    padding: 5px 10px;
    margin: 5px;
    color: #cdd6f4;
    background: transparent;
    border-radius: 8px;
}

#workspaces button.active {
    background: linear-gradient(45deg, #ff4fd8, #b266ff);
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(255, 75, 216, 0.3);
}

#clock,
#network,
#pulseaudio,
#battery,
#cpu,
#memory,
#disk,
#temperature {
    padding: 5px 12px;
    margin: 5px;
    border-radius: 10px;
    background: rgba(20, 20, 30, 0.6);
    color: #f1eaff;
}

#clock {
    color: #ff4fd8;
}

#network {
    color: #5fffd7;
}

#pulseaudio {
    color: #ff79e6;
}

#battery {
    color: #a6ff9f;
}

#clock:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover  {
    background: rgba(2255, 79, 216, 0.2);
}

#cpu {
    color: #b266ff;
}

#memory {
    color: #00eaff
}

#temperature {
    color: #ff9efc;
}

#disk {
    color: #cba6f7;
}

#temperature.critical {
    color: #ff0000
}