* {
    font-family: "JetbrainsMono Nerd Font";
	font-size: 13px;
	min-height: 25px;
    border: none;
    border-radius: 10px;
}

window#waybar {
    background: rgba(11, 11, 18, 0.6);
    border-bottom: 2px solid rgba(255, 79, 216, 0.6);
}

#workspaces {
    transition: all 2050ms ease-in-out;
}

#workspaces button {
    padding: 5px 10px;
    margin: 5px;
    color: #cdd6f4;
    background: transparent;
    border-radius: 8px;
}

#workspaces button.active {
    background: linear-gradient(45deg, #ff4fd8, #b266ff);
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(255, 75, 216, 0.3);
}

#clock,
#network,
#pulseaudio,
#battery {
    padding: 5px 12px;
    margin: 5px;
    border-radius: 10px;
    background: rgba(20, 20, 30, 0.6);
    color: #f1eaff;
}

#clock {
    color: #ff4fd8;
}

#network {
    color: #5fffd7;
}

#pulseaudio {
    color: #ff79e6;
}

#battery {
    color: #a6ff9f;
}

#clock:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover {
    background: rgba(2255, 79, 216, 0.2);
}

/*
#workspaces {
    transition: all 2050ms ease-in-out;
}

#workspaces button {
	transition: all 250ms ease-in-out;
    padding: 0 5px;
    margin: 0 2px;
    background: #121212;
    border: 1px solid #434343;
	color: #B5E8E6;
}

#workspaces button.active {
	min-width: 50px;
    background: #e8eaed;
    color: #121212;
    border-radius: 100px;
    border: 0px;
}

#network {
	background: #aad8cf;
    color: #121212;
    padding: 0 5px;
    margin: 0 10px;
    border-radius: 5px;
}

#pulseaudio {
	background: #c3aad8;
    color: #121212;
    padding: 0 5px;
    margin: 0 5px;
    border-radius: 5px;
}

#battery {
	background: #b7d8aa;
    color: #121212;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 5px;
}

#clock {
    color: #F1F1F1;
    background: #020714;
    padding: 0px 10px;
    margin: 0 10px;
    border-radius: 5px;
    font-weight: 700;
}
*/